html,body {
    height: 100%;
    width: 100%;
    background-color: white;
}
body {
    background-image: url(./courses.png);
    background-size: 1530px 290px;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.6);
}
.courses {
  padding-top: 290px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.email-btn {
    margin-top: 25px;
    margin-right: 25px;
}
.send-email {
    position: relative;
    float: right;
    text-align: center;
}
